<div class="container-fluid">
        <div class="row">
            <div class="col-md-3" style="background-color:#7700FF">
                <h1>Боковое меню</h1>
            </div>
            <div class="col-md-7">
                <h1>Содержание</h1>
                <br>
                <p>«Ваши тропы у вас под ногами. Каждый увидит свою в должное время».</p>
                <img width="500px" height="auto" src="https://i.playground.ru/p/PqKCrz7pEDugh-W2eV0eXw.jpeg" alt="Изображения пока нет">
            </div>
        </div>
</div>