{% load static %}
{% load bootstrap5 %}
<!--<div class="body_wrapper">-->
 <div class="center">
   <!-- FOOTER -->
   <div class="footer_top_area"></div>


     <div class="copyright_text">
       <p>Все права защищены &copy; АО Джанго 2050 Сетевое издание Телеграф. <a target="_blank" rel="nofollow" href="http://www.graphicsfuel.com/2045/10/wp-magazine-theme-template-psd/"></a></p>
       <p>Любое использование материалов допускается только при соблюдении правил перепечатки и при наличии гиперссылки на</p>
     </div>
   </div>
   <!-- /FOOTER -->
 </div>