{% load static %}
{% load bootstrap5 %}
<!--<div class="body_wrapper">-->
  <div class="center">
      <!-- SIDEBAR -->
    <div class="main_menu_area">
      <ul id="nav">
        <li><a href="{% url 'news_index' %}">НОВОСТИ</a></li>
        <li><a href="/tidings">СПОРТ</a></li>
        <li><a href="#">ТЕХНОЛОГИИ</a></li>
        <li><a href="#">БИЗНЕС</a></li>
        <li><a href="#">КИНО</a></li>
        <li><a href="#">ЛИЧНЫЕ ФИНАНСЫ</a></li>
        <li><a href="#">КУЛЬТУРА</a></li>
        <li><a href="#">КНИГИ</a>
        </ul>
    </div>
    <!-- /SIDEBAR -->
  </div>
<!--</div>-->



