{% load static %}
{% load bootstrap5 %}
<div class="body_wrapper">
  <div class="center">
 <!-- SLIDER -->
    <div class="slider_area">
      <div class="slider">
        <ul class="bxslider">
            <li>
                <div class="image1">
                    <a href="/news_1">
                        <img src="{% static 'magazine/images/1.jpg' %}" alt="" title="Чемпионат по сёрфингу"/></a>
                    </div>
            </li>
          <li>
                <div class="image1">
                    <a href="/news_1">
                        <img src="{% static 'magazine/images/2.jpg' %}" alt="" title="Новый парк"/></a>
                    </div>
            </li>
            <li>
                <div class="image1">
                    <a href="/news_1">
                        <img src="{% static 'magazine/images/3.jpg' %}" alt="" title="Фестиваль удался"/></a>
                    </div>
            </li>

        </ul>
      </div>
    </div>
    <!-- /SLIDER -->




  </a>

  </div>
</div>