body {
 margin: 20px;
 background-color: #FFFFFF;
}

/*img {width: 500px; }
.news1 {
margin: 70px;
color: blue;
}*/

h1, h2, h3, h4, h5, h6 {
  color: #blue;
  margin: 0 0 10px;
  font-weight: 700;
}

a{
    text-decoration:none;
    color: #FFFFFF;
}
#news2{
color:blue;
}

div {
margin: 50px;
}

.note1 {
margin: 75px;
color: blue
}

.note2 {
margin: 100px;
color: green
}


#note5 {
margin: 50px;
color: yellow
}



.note1 h2{
color: green;}
