{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background-color: blue">
            <div class="row">
                <div class="col-3">
                    <img src="https://spec-siz.ru/img/check.jpg" alt="альтернатива" style="width:auto; height:50px">
                </div>
                <div class="col-9">
                    <h1>Меню</h1>
                </div>
            </div>
            <row>
                <li>
                    <ul><i class="fa-solid fa-user"></i><a href="#"> Ссылка 1</a></ul>
                    <ul><i class="fa-solid fa-sign"></i><a href="#"> Ссылка 2</a></ul>
                    <ul>Ссылка 3</ul>
                </li>
            </row>
        </div>
        <div class="col-md-9">
            <div class="container">
                <h1>Основная часть</h1>
            </div>
        </div>
    </div>
</div>